version: "2.1"
services:
  product-service:
    build: product-service
    ports:
      - "9595"
    logging:
      options:
        max-size: "10m"
        max-file: "10"
  product-client:
    build: product-client
    expose:
      - "9494"
    logging:
      options:
        max-size: "10m"
        max-file: "10"
  zuul-gateway:
    build: zuul-gateway
    ports:
      - "9090:9090"
    logging:
      options:
        max-size: "10m"
        max-file: "10"
  hystrix-dashboard:
    build: hystrix-circuite-breaker
    ports:
      - "9191"
    logging:
      options:
        max-size: "10m"
        max-file: "10"
  eureka-server:
    build: eureka-server
    ports:
      - "8761:8761"
    logging:
      options:
        max-size: "10m"
        max-file: "10"
  hazelcast-server:
    image: 'hazelcast/hazelcast:latest'
    ports:
      - "5701:5701"
